  <!-- header  -->
  <header>
    <!-- header  -->
    <div class="header header-2 theme-3">
        <!-- container  -->
        <div class="container">

            <!-- header inner -->
            <div class="header-inner second-home-nav">
                <div class="logo">
                    <a href="#"><img src="assets/img/logo/norkys.png" alt="Logo not found" class="logo-img"></a>
                </div>
                <div class="header-right">
                    <div class="header-menu d-none d-lg-block">
                        <nav class="cf-header-menu" id="header-menu">
                            <ul>
                                <li><a href="#">Home</a> </li>
                                <li><a href="#">Carta</a></li>
                                <!-- <li class="has-submenu"><a href="blog.html">Blog</a>
                                    <ul class="submenu">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-grid.html">Blog Grid</a></li>
                                        <li><a href="singel-post.html">Blog Details</a></li>
                                    </ul>
                                </li> -->
                                <li class="has-submenu"><a href="#">Páginas</a>
                                    <ul class="submenu">
                                        <!-- <li><a href="faq.html">FAQs</a></li>        -->
                                        <!-- <li><a href="service-details.html">Service Details</a></li>
                                        <li><a href="project-details.html">Project Details</a></li>
                                        <li><a href="team.html">Team</a></li>
                                        <li><a href="team-view.html">Team Details</a></li> -->
                                        <!-- <li><a href="pricing.html">Pricing</a></li> --> 
                                        <li><a href="#">Formulario</a></li>
                                        <!-- <li><a href="cart.html">Cart</a></li> -->
                                    </ul>
                                </li>
                                <li><a href="#">Contacto</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="right-menu-icon">
                        <ul class="d-flex align-items-center">
                            <li class="nav-list"><a href="#" class="nav-link icon-item" id="search"><span
                                        class="icofont-search-1"></span></a></li>
                            <li class="nav-list"><a href="#" class="nav-link icon-item"><span
                                        class="icofont-shopping-cart"> <span class="cart-count">4</span>
                                    </span></a>
                                <div class="cart-menu">
                                    <ul class="cart-ul">
                                        <li class="cart-list">
                                            <div class="d-flex align-items-center">
                                                <div class="cart-img">
                                                    <img src="assets/img/cr1.jpg" alt="Image not found">
                                                </div>
                                                <div class="cart-product-details">
                                                    <a href="" class="product-name cart-px-name">Mostrito Brasa</a>
                                                    <p class="price">S/25.90</p>
                                                </div>
                                            </div>
                                            <a href="" class="remove-icon"><span
                                                    class="icofont-ui-delete"></span></a>
                                        </li>
                                        <li class="cart-list">
                                            <div class="d-flex align-items-center">
                                                <div class="cart-img">
                                                    <img src="assets/img/cr2.jpg" alt="Image not found">
                                                </div>
                                                <div class="cart-product-details">
                                                    <a href="" class="product-name cart-px-name">Ensalada Pollera</a>
                                                    <p class="price"> S/15.00</p>
                                                </div>
                                            </div>
                                            <a href="" class="remove-icon"><span
                                                    class="icofont-ui-delete"></span></a>
                                        </li>
                                        <li class="cart-list">
                                            <div class="d-flex align-items-center">
                                                <div class="cart-img">
                                                    <img src="assets/img/cr3.jpg" alt="Image not found">
                                                </div>
                                                <div class="cart-product-details">
                                                    <a href="" class="product-name cart-px-name">Anticucho</a>
                                                    <p class="price">S/16.00</p>
                                                </div>
                                            </div>
                                            <a href="" class="remove-icon"><span
                                                    class="icofont-ui-delete"></span></a>
                                        </li>
                                        <li class="cart-list">
                                            <div class="d-flex align-items-center">
                                                <div class="cart-img">
                                                    <img src="assets/img/cr4.jpg" alt="Image not found">
                                                </div>
                                                <div class="cart-product-details">
                                                    <a href="" class="product-name cart-px-name">Tallarín saltado de carne</a>
                                                    <p class="price">S/22.00</p>
                                                </div>
                                            </div>
                                            <a href="" class="remove-icon"><span
                                                    class="icofont-ui-delete"></span></a>
                                        </li>
                                    </ul>
                                    <div class="cart-modal-btn">
                                        <a href="wishlist.html" class="custom-btn">Carrito</a>
                                        <a href="shop.html" class="custom-btn">Carta</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-list"><a href="" class="nav-link icon-item"><span
                                        class="icofont-ui-user"></span></a></li>
                        </ul>
                    </div>
                    <div class="d-lg-none dr-navbar-mobile-sign side-toggle">
                        <div class="dr-navbar-sign menu-tab">
                            <span class="dr-line-1"></span>
                            <span class="dr-line-2"></span>
                            <span class="dr-line-3"></span>
                        </div>
                    </div>
                </div>

            </div>
            <!-- header inner end  -->