<footer>
    <!-- footer section  -->
    <div class="footer-section footer-3" data-background="assets/img/footerpollo.jpg">
        <!-- container  -->
        <div class="container">
            <!-- row  -->
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 my-2 smpadright40">
                    <div class="footer-content-wrapper">
                        <div class="footer-logo mb-4">
                            <img src="assets/img/logo/norkys.png" alt="">
                        </div>
                        <p>Visítanos y ten un buen momento en familia disfrutando un rico pollo a la brasa.</p>
                        <ul class="address">
                            <li><span class="icofont-location-pin"></span>
                                <p class="address-info">Lima y otras Provincias, Perú</p>
                            </li>

                            <li><span class="icofont-email"></span>
                                <div class="address-inner">
                                    <p class="address-info"><a href="mailto:nfo@example.com">norkysgmail.com</a></p>
                                    <p class="address-info"><a href="mailto:test@example.com">norkyspollosgmail.com</a></p>
                                </div>
                            </li>

                            <li><span class="icofont-ui-call"> </span>
                                <div class="address-inner">
                                    <p class="address-info"><a href="tel:+123456679123">+123 456 679 123</a></p>
                                    <p class="address-info"><a href="tel:+123456789">+123 456 789</a></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 my-2 padleft40">
                    <div class="footer-content-wrapper">
                        <div class="footer-sec-head mb-4">
                            <h4 class="footer-widget-title">Categorías</h4>
                        </div>
                        <ul class="qu-link">
                            <li class="foot-list"><a href="menu.html" class="footer-link">Pollos</a></li>
                            <li class="foot-list"><a href="menu.html" class="footer-link">Carnes</a></li>
                            <li class="foot-list"><a href="menu.html" class="footer-link">Bebidas</a></li>
                            <li class="foot-list"><a href="menu.html" class="footer-link">Piqueos</a></li>
                            <li class="foot-list"><a href="menu.html" class="footer-link">Chifa</a></li>
                            <!-- <li class="foot-list"><a href="menu.html" class="footer-link">Pizza</a></li>
                            <li class="foot-list"><a href="menu.html" class="footer-link">Burger</a></li> -->
                        </ul>
                    </div>
                </div> 

                <div class="col-lg-3 col-md-6 col-sm-6 my-2 padright40">
                    <div class="footer-content-wrapper">
                        <div class="footer-sec-head mb-4">
                            <h4 class="footer-widget-title">Instagram</h4>
                        </div>
                        <ul class="insta-feed">
                            <li class="foot-list">
                                <a href="https://www.instagram.com/norkys.pe/" class="footer-link"><img src="assets/img/oferton.jpg" alt=""></a>
                            </li>
                            <li class="foot-list">
                                <a href="https://www.instagram.com/norkys.pe/" class="footer-link"><img src="assets/img/domingo.jpg" alt=""></a>
                            </li>
                            <li class="foot-list">
                                <a href="https://www.instagram.com/norkys.pe/" class="footer-link"><img src="assets/img/jugos.jpg" alt=""></a>
                            </li>
                            <!-- <li class="foot-list">
                                <a href="https://www.instagram.com/norkys.pe/" class="footer-link"><img src="assets/img/instagram/4.png" alt=""></a>
                            </li>
                            <li class="foot-list">
                                <a href="https://www.instagram.com/norkys.pe/" class="footer-link"><img src="assets/img/instagram/5.png" alt=""></a>
                            </li>
                            <li class="foot-list">
                                <a href="https://www.instagram.com/norkys.pe/" class="footer-link"><img src="assets/img/instagram/6.png" alt=""></a>
                            </li> -->
                        </ul>
                    </div>
                </div> 

                <div class="col-lg-3 col-md-6 col-sm-6 my-2">
                    <div class="footer-content-wrapper">
                        <div class="footer-sec-head mb-4">
                            <h4 class="footer-widget-title">Recibe notificaciones de nuestras ofertas</h4>
                        </div>

                        <!-- <p class="subscribe-des">
                            Lorem ipsum dolor si consectetur adipisicing elit, sed eiusmotempor incididunt ut labore et
                        </p> -->

                        <form class="hero-form" action="#">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control subscribtion-input" placeholder="Ingresa tu correo">
                                <div class="input-group-append d-flex justify-content-center">
                                    <button type="submit" class="custom-btn"><span class="icofont-location-arrow"></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- row end  -->
        </div>
        <!-- container end  -->
        <!-- last footer  -->
        <div class="last-footer">
            <div class="container">
                <div class="row">
                    <div class="text-center">
                        <p class="copyright-text">© Copyright Norky's. 2023 Proyecto de Diseño Web</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- last footer end  -->
    </div>
    <!-- footer section end  -->
</footer>
