<div class="dr-sidebar-info side-info header-side-info-3">
    <div class="dr-sidebar-logo-wrapper mb-25">
        <div class="row align-items-center">
            <div class="col-xl-6 col-8">
                <div class="dr-sidebar-logo">
                    <a href="#"><img src="assets/img/logo/norkys.png" alt="logo-img"></a>
                </div>
            </div>
            <div class="col-xl-6 col-4">
                <div class="dr-sidebar-close-wrapper text-end">
                    <button class="dr-sidebar-close side-info-close"><i class="icofont-close-line"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="dr-sidebar-menu-wrapper fix">
        <div class="cf-header-menu"></div>
    </div>

    <div class="dr-sidebar-btn-wrap mt-40">
        <a href="#"><span class="icofont-shopping-cart"><span class="cart-count">4</span></span></a>
        <a href="#"><i class="icofont-ui-user"></i></a>
    </div>

    <div class="dr-sidebar-contact-wrapper mt-40">
        <div class="dr-sidebar-contact mb-40">
            <h4 class="dr-sidebar-contact-title">Contacto</h4>
            <span class="sidebar-address"><i class="icofont-google-map"></i><span>Lima y otras Provincias, Perú</span> </span>
            <a href="tel:+1(251)410-1010"><i class="icofont-phone"></i><span>+1 (251) 410-1010</span></a>
            <a href="mailto:example@gmail.com" class="theme-3"><i class="icofont-envelope-open"></i><span><span>norkysgmail.com</span></span></a>   
        </div>

        <div class="dr-sidebar-social mt-40 mb-30">
            <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" class="youtube"><i class="fab fa-dribbble"></i></a>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>
<!-- dr-sidebar-information-area-end -->


<!-- =======================body wrapper========= -->
<div class="body-wrapper">
    <!-- ===================page banner============ -->
    <div class="page-banner" data-background="assets/img/menupollo.jpg">
        <!-- container  -->
        <div class="container">
            <!-- row  -->
            <div class="row">
                <div class="page-ban-content">
                    <h1 class="page-head">Carta</h1>
                    <div class="breadcrumb-list">
                        <a href="index.html" class="page-route-link">Home</a>
                        <span class="devider">/</span>
                        <span>Carta</span>
                    </div>
                </div>
            </div>
            <!-- row end  -->
        </div>
        <!-- container end -->
    </div>
    <!-- ===================page banner end============ -->


    <!-- =================================================
                    Product section 
    ================================================= -->
    <section>
        <!-- product  -->
        <div class="product menu-product cpy-8">
            <!-- container  -->
            <div class="container">
                <!-- product inner  -->
                <div class="product-inner">
                    <!-- row  -->
                    <div class="row">
                        <div class="section-head text-center">
                            <span class="sm-title ">
                                Carta
                            </span>
                            <h2 class="sec-title">
                                Categorías
                            </h2>
                            <div class="product-cat ">
                                <div class="controls">
                                    <ul class="cat-menu">
                                        <li class="cat-menu-li" data-filter="all">
                                            <span class="cat-name">Todas</span>
                                        </li>
                                        <li class="cat-menu-li" data-filter=".perch-fish">
                                            <span class="cat-name">Parrillas</span>
                                        </li>
                                        <li class="cat-menu-li" data-filter=".lobster">
                                            <span class="cat-name">Saltados</span>
                                        </li>
                                        <li class="cat-menu-li" data-filter=".shrimps">
                                            <span class="cat-name">Mix Chauferos</span>
                                        </li>
                                        <li class="cat-menu-li" data-filter=".red_crab">
                                            <span class="cat-name">Pollos a la brasa</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row end  -->
                    <!-- describe content  -->
                    <div class="describe-content mt-50" data-aos="fade-up" data-aos-duration="1000">
                        <!-- all product  -->
                        <div class="all-product">
                            <!-- row  -->
                            <div class="row">
                                <div class="col-md-6 col-xl-3 col-lg-4 col-sm-6 mb-4 mix perch-fish">
                                    <div class="product-card">
                                        <p class="status-product">New</p>
                                        <div class="product-img">
                                            <a href="shop.html"><img src="assets/img/Media-Parrilla (1).jpg" alt=""></a>
                                        </div>
                                        <div class="product-details">
                                            <a href="shop.html" class="product-name">Parrilla Norky's</a>
                                            <ul class="rating">
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                            </ul>
                                            <p class="price">$35 - $25</p>

                                            <ul class="pd-btn-group">
                                                <!-- <li><a href="" class="shop-btn"><span
                                                            class="icofont-heart-alt"></span></a></li>
                                                <li><a href="cart.html" class="shop-btn"><span
                                                            class="icofont-shopping-cart"></span></a></li> -->
                                                <li><a href="shop-details.html" class="shop-btn"><span
                                                            class="icofont-eye"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-3 col-lg-4 col-sm-6 mb-4 mix Lobster">
                                    <div class="product-card">
                                        <div class="product-img"><img src="assets/img/cuarto-de-pollo-mas-ensalada-papas-y-gaseosa (1).jpg" alt="">
                                        </div>
                                        <div class="product-details">
                                            <a href="shop.html" class="product-name">1/4 pollo + papas + ensalada + gaseosa</a>
                                            <ul class="rating">
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating unrated"></span></li>
                                            </ul>
                                            <p class="price">$35 - $25</p>

                                            <ul class="pd-btn-group">
                                                <!-- <li><a href="" class="shop-btn"><span
                                                            class="icofont-heart-alt"></span></a></li>
                                                <li><a href="cart.html" class="shop-btn"><span
                                                            class="icofont-shopping-cart"></span></a></li> -->
                                                <li><a href="shop-details.html" class="shop-btn"><span
                                                            class="icofont-eye"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-3 col-lg-4 col-sm-6 mb-4 mix shrimps">
                                    <div class="product-card">
                                        <p class="status-product">New</p>
                                        <div class="product-img"><img src="assets/img/CHAUFA-BRASA_1 (1).jpg" alt="">
                                        </div>
                                        <div class="product-details">
                                            <a href="shop.html" class="product-name">Chaufa Brasa</a>
                                            <ul class="rating">
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating unrated"></span></li>
                                            </ul>
                                            <p class="price">$35 - $25</p>

                                            <ul class="pd-btn-group">
                                                <!-- <li><a href="" class="shop-btn"><span
                                                            class="icofont-heart-alt"></span></a></li>
                                                <li><a href="cart.html" class="shop-btn"><span
                                                            class="icofont-shopping-cart"></span></a></li> -->
                                                <li><a href="shop-details.html" class="shop-btn"><span
                                                            class="icofont-eye"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-3 col-lg-4 col-sm-6 mb-4 mix red_crab">
                                    <div class="product-card">
                                        <p class="status-product">New</p>
                                        <div class="product-img"><img src="assets/img/medio-pollo-mas-papa-mas-ensalada-mas-gaseosa (1).jpg" alt="">
                                        </div>
                                        <div class="product-details">
                                            <a href="shop.html" class="product-name">1/2 pollo + papas + ensalada + 2 gaseosas</a>
                                            <ul class="rating">
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                            </ul>
                                            <p class="price">$35 - $25</p>

                                            <ul class="pd-btn-group">
                                                <!-- <li><a href="" class="shop-btn"><span
                                                            class="icofont-heart-alt"></span></a></li>
                                                <li><a href="cart.html" class="shop-btn"><span
                                                            class="icofont-shopping-cart"></span></a></li> -->
                                                <li><a href="shop-details.html" class="shop-btn"><span
                                                            class="icofont-eye"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-3 col-lg-4 col-sm-6 mb-4 mix red_crab">
                                    <div class="product-card">
                                        <div class="product-img"><img src="assets/img/POLLO-MAS-PAPA-MAS-ENSALADA-MAS-GASEOSA (1).jpg" alt="">
                                        </div>
                                        <div class="product-details">
                                            <a href="shop.html" class="product-name">Pollo Oferta</a>
                                            <ul class="rating">
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                            </ul>
                                            <p class="price">$35 - $25</p>

                                            <ul class="pd-btn-group">
                                                <!-- <li><a href="" class="shop-btn"><span
                                                            class="icofont-heart-alt"></span></a></li>
                                                <li><a href="cart.html" class="shop-btn"><span
                                                            class="icofont-shopping-cart"></span></a></li> -->
                                                <li><a href="shop-details.html" class="shop-btn"><span
                                                            class="icofont-eye"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-3 col-lg-4 col-sm-6 mb-4 mix lobster">
                                    <div class="product-card">
                                        <div class="product-img"><img src="assets/img/tallarin-saltada-de-pollo (1).jpg" alt="">
                                        </div>
                                        <div class="product-details">
                                            <a href="shop.html" class="product-name">Tallarín Saltado de pollo</a>
                                            <ul class="rating">
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating unrated"></span></li>
                                            </ul>
                                            <p class="price">$35 - $25</p>

                                            <ul class="pd-btn-group">
                                                <!-- <li><a href="" class="shop-btn"><span
                                                            class="icofont-heart-alt"></span></a></li>
                                                <li><a href="cart.html" class="shop-btn"><span
                                                            class="icofont-shopping-cart"></span></a></li> -->
                                                <li><a href="shop-details.html" class="shop-btn"><span
                                                            class="icofont-eye"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-3 col-lg-4 col-sm-6 mb-4 mix red_crab">
                                    <div class="product-card">
                                        <p class="status-product">New</p>

                                        <div class="product-img">
                                            <img src="assets/img/cuarto-de-pollo-mas-ensalada-papas-y-gaseosa (1).jpg" alt="">
                                        </div>
                                        <div class="product-details">
                                            <a href="shop.html" class="product-name">Combinado Familiar</a>
                                            <ul class="rating">
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating unrated"></span></li>
                                            </ul>
                                            <p class="price">$35 - $25</p>

                                            <ul class="pd-btn-group">
                                                <!-- <li><a href="" class="shop-btn"><span
                                                            class="icofont-heart-alt"></span></a></li>
                                                <li><a href="cart.html" class="shop-btn"><span
                                                            class="icofont-shopping-cart"></span></a></li> -->
                                                <li><a href="shop-details.html" class="shop-btn"><span
                                                            class="icofont-eye"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-3 col-lg-4 col-sm-6 mb-4 mix lobster">
                                    <div class="product-card">
                                        <div class="product-img"><img src="assets/img/lomo-saltado (1).jpg" alt="">
                                        </div>
                                        <div class="product-details">
                                            <a href="shop.html" class="product-name">Lomo Saltado</a>
                                            <ul class="rating">
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating"></span></li>
                                                <li> <span class="icofont-ui-rating unrated"></span></li>
                                            </ul>
                                            <p class="price">$35 - $25</p>

                                            <ul class="pd-btn-group">
                                                <!-- <li><a href="" class="shop-btn"><span
                                                            class="icofont-heart-alt"></span></a></li>
                                                <li><a href="cart.html" class="shop-btn"><span
                                                            class="icofont-shopping-cart"></span></a></li> -->
                                                <li><a href="shop-details.html" class="shop-btn"><span
                                                            class="icofont-eye"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- row end  -->
                        </div>
                        <!-- all product end  -->
                        <div class="row justify-content-center">
                            <div class="menu-button mt-25 mb-25">
                                <a href="" class="custom-btn">Ver Más</a>
                            </div>
                        </div>
                    </div>
                    <!-- describe content end  -->
                </div>
                <!-- product inner end  -->
            </div>
            <!-- container end  -->
        </div>
        <!-- product end  -->
    </section>
    <!-- =================================================
                    Product section end
    ================================================= -->