 <!-- dr-sidebar-information-area-start -->
 <div class="dr-sidebar-info side-info header-side-info-3">
    <div class="dr-sidebar-logo-wrapper mb-25">
        <div class="row align-items-center">
            <div class="col-xl-6 col-8">
                <div class="dr-sidebar-logo">
                    <a href="index.html"><img src="assets/img/logo/norkys.png" alt="logo-img"></a>
                </div>
            </div>
            <div class="col-xl-6 col-4">
                <div class="dr-sidebar-close-wrapper text-end">
                    <button class="dr-sidebar-close side-info-close"><i class="icofont-close-line"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="dr-sidebar-menu-wrapper fix">
        <div class="cf-header-menu"></div>
    </div>

    <div class="dr-sidebar-btn-wrap mt-40">
        <a href="#"><span class="icofont-shopping-cart"><span class="cart-count">4</span></span></a>
        <a href="#"><i class="icofont-ui-user"></i></a>
    </div>

    <div class="dr-sidebar-contact-wrapper mt-40">
        <div class="dr-sidebar-contact mb-40">
            <h4 class="dr-sidebar-contact-title">Contacto</h4>
            <span class="sidebar-address"><i class="icofont-google-map"></i><span>Lima y otras Provincias, Perú</span> </span>
            <a href="tel:+1(251)410-1010"><i class="icofont-phone"></i><span>+1 (251) 410-1010</span></a>
            <a href="mailto:example@gmail.com" class="theme-3"><i class="icofont-envelope-open"></i><span><span>norkysgmail.com</span></span></a>   
        </div>

        <div class="dr-sidebar-social mt-40 mb-30">
            <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" class="youtube"><i class="fab fa-dribbble"></i></a>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>
<!-- dr-sidebar-information-area-end -->

<!-- =======================body wrapper========= -->
<div class="body-wrapper">
    <!-- ===================page banner============ -->
    <div class="page-banner" data-background="assets/img/contacto.jpg">
        <!-- container  -->
        <div class="container">
            <!-- row  -->
            <div class="row">
                <div class="page-ban-content">
                    <h1 class="page-head">Contacto</h1>
                    <div class="breadcrumb-list">
                        <a href="index.html" class="page-route-link">Home</a>
                        <span class="devider">/</span>
                        <span>Contacto</span>

                    </div>
                </div>
            </div>
            <!-- row end  -->
        </div>
        <!-- container end -->
    </div>
    <!-- ===================page banner end============ -->
    <!-- ===========contact============ -->
    <div class="contact cpy-6" data-aos="fade-up" data-aos-duration="1000">
        <div class="container">
            <div class="form-wrapper inner">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-inside">
                            <div class="form-head">
                                <div class="section-head text-center">
                                    <span class="sm-title ">Contáctanos</span>
                                    <h2 class="sec-title">
                                        Por favor, póngase en contacto con nosotros
                                    </h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="contact-form pt-15">
                                    <form action="mail.php" method="post" id="contact-message">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-group flex-nowrap mb-30">
                                                    <input type="text" class="form-control" placeholder="Su nombre:">
                                                    <span class="right-input-icon"><i
                                                            class="icofont-ui-user"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group flex-nowrap mb-30">
                                                    <input type="email" class="form-control" placeholder="Su Email: *">
                                                    <span class="right-input-icon"><i
                                                            class="icofont-email"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group flex-nowrap mb-30">
                                                    <input type="text" class="form-control" placeholder="Su N° de Teléfono:">
                                                    <span class="right-input-icon"><i
                                                            class="icofont-phone"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group flex-nowrap mb-30">
                                                    <input type="text" class="form-control" placeholder="Su Dirección:">
                                                    <span class="right-input-icon"><i
                                                            class="icofont-location-pin"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <textarea name="message" class="form-control" placeholder="Comentario:" rows="5"></textarea>
                                            </div>
                                        </div>
                                        <div class="submit-button-sec mt-30">
                                            <button type="submit" onclick="myFunction()" class="custom-btn">Enviar
                                                Mensaje</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="contact-offer">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4137831.03786168!2d89.88716408141622!3d24.401674332506396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1644042240544!5m2!1sen!2sbd" width="100%" height="100%" style="border:0;"
                                allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ========================contact================== -->