<!-- dr-sidebar-information-area-start -->
<div class="dr-sidebar-info side-info header-side-info-3">
    <div class="dr-sidebar-logo-wrapper mb-25">
        <div class="row align-items-center">
            <div class="col-xl-6 col-8">
                <div class="dr-sidebar-logo">
                    <a href="index.html"><img src="assets/img/logo/norkys.png" alt="logo-img"></a>
                </div>
            </div>
            <div class="col-xl-6 col-4">
                <div class="dr-sidebar-close-wrapper text-end">
                    <button class="dr-sidebar-close side-info-close"><i class="icofont-close-line"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="dr-sidebar-menu-wrapper fix">
        <div class="cf-header-menu"></div>
    </div>

    <div class="dr-sidebar-btn-wrap mt-40">
        <a href="#"><span class="icofont-shopping-cart"><span class="cart-count">4</span></span></a>
        <a href="#"><i class="icofont-ui-user"></i></a>
    </div>

    <div class="dr-sidebar-contact-wrapper mt-40">
        <div class="dr-sidebar-contact mb-40">
            <h4 class="dr-sidebar-contact-title">Contacto</h4>
            <span class="sidebar-address"><i class="icofont-google-map"></i><span>Lima y otras Provincias, Perú</span> </span>
            <a href="tel:+1(251)410-1010"><i class="icofont-phone"></i><span>+1 (251) 410-1010</span></a>
            <a href="mailto:example@gmail.com" class="theme-3"><i class="icofont-envelope-open"></i><span><span>norkysgmail.com</span></span></a>   
        </div>

        <div class="dr-sidebar-social mt-40 mb-30">
            <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" class="youtube"><i class="fab fa-dribbble"></i></a>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>
<!-- dr-sidebar-information-area-end -->
<!-- =======================body wrapper========= -->
<div class="body-wrapper">
    <!-- ===================page banner============ -->
    <div class="page-banner" data-background="assets/img/formulario.jpg">
        <!-- container  -->
        <div class="container">
            <!-- row  -->
            <div class="row">
                <div class="page-ban-content">
                    <h1 class="page-head">Formulario</h1>
                    <div class="breadcrumb-list">
                        <a href="index.html" class="page-route-link">Home</a>
                        <span class="devider">/</span>
                        <span>Formulario</span>

                    </div>
                </div>
            </div>
            <!-- row end  -->
        </div>
        <!-- container end -->
    </div>
    <!-- ===================page banner end============ -->
    <div class="shop-area pt-105 pb-55">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shop-left-wrapper">
                        <div class="shop-notice-result-wrapper mb-50">
                            <div class="row align-items-center">
                                <div class="col-md-8 text-center text-md-start">
                                    <span class="shop-notice-result">Mostrando 1-9 productos de 15</span>
                                </div>
                                <div class="col-md-4 text-center text-md-end">
                                    <div class="shop-notice-select">
                                        <select>
                                            <option>Pollos</option>
                                            <option>Chifa</option>
                                            <option>Bebidas</option>
                                            <option>Parrillas</option>
                                            <option>Piqueos</option>
                                            <!-- <option>Default Shorting</option> -->
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shop-products-wrapper">
                            <div class="row row-cols-xxl-3 row-cols-lg-2 row-cols-md-2 row-cols-1">
                                <div class="col">
                                    <div class="shop-product-item mb-30">
                                        <div class="shop-product-item-inner">
                                            <div class="shop-product-img w-100">
                                                <a href="shop-details.html"><img src="assets/img/chaufa.jpg" alt=""></a>
                                                <div class="shop-product-action">
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-shopping-cart"></i></a>
                                                    <a href="#"><i class="icofont-eye"></i></a>
                                                </div>
                                            </div>
                                            <div class="shop-product-content">
                                                <h4 class="shop-product-title"><a href="shop-details.html">Chaufa de carne</a></h4>
                                                <div class="shop-product-rating">
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                </div>
                                                <div class="shop-product-price">
                                                    <span class="shop-price">S/ 20</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="shop-product-item mb-30">
                                        <div class="shop-product-item-inner">
                                            <div class="shop-product-img w-100">
                                                <a href="shop-details.html"><img src="assets/img/pr1.jpg" alt=""></a>
                                                <span class="shop-onsale">Ofertón!</span>
                                                <div class="shop-product-action">
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-shopping-cart"></i></a>
                                                    <a href="#"><i class="icofont-eye"></i></a>
                                                </div>
                                            </div>
                                            <div class="shop-product-content">
                                                <h4 class="shop-product-title"><a href="shop-details.html">Anticucho</a></h4>
                                                <div class="shop-product-rating">
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                </div>
                                                <div class="shop-product-price">
                                                    <span class="shop-price">S/ 16</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="shop-product-item mb-30">
                                        <div class="shop-product-item-inner">
                                            <div class="shop-product-img w-100">
                                                <a href="shop-details.html"><img src="assets/img/pr2.jpg" alt=""></a>
                                                <div class="shop-product-action">
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-shopping-cart"></i></a>
                                                    <a href="#"><i class="icofont-eye"></i></a>
                                                </div>
                                            </div>
                                            <div class="shop-product-content">
                                                <h4 class="shop-product-title"><a href="shop-details.html">Pollo a la plancha</a></h4>
                                                <div class="shop-product-rating">
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                </div>
                                                <div class="shop-product-price">
                                                    <span class="shop-price">S/ 20</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="shop-product-item mb-30">
                                        <div class="shop-product-item-inner">
                                            <div class="shop-product-img w-100">
                                                <a href="shop-details.html"><img src="assets/img/pr3.jpg" alt=""></a>
                                                <div class="shop-product-action">
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-shopping-cart"></i></a>
                                                    <a href="#"><i class="icofont-eye"></i></a>
                                                </div>
                                            </div>
                                            <div class="shop-product-content">
                                                <h4 class="shop-product-title"><a href="shop-details.html">Ensalada Pollera</a></h4>
                                                <div class="shop-product-rating">
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                </div>
                                                <div class="shop-product-price">
                                                    <span class="shop-price">S/ 15</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="shop-product-item mb-30">
                                        <div class="shop-product-item-inner">
                                            <div class="shop-product-img w-100">
                                                <a href="shop-details.html"><img src="assets/img/pr4.jpg" alt=""></a>
                                                <div class="shop-product-action">
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-shopping-cart"></i></a>
                                                    <a href="#"><i class="icofont-eye"></i></a>
                                                </div>
                                            </div>
                                            <div class="shop-product-content">
                                                <h4 class="shop-product-title"><a href="shop-details.html">Tequeños</a></h4>
                                                <div class="shop-product-rating">
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                </div>
                                                <div class="shop-product-price">
                                                    <span class="shop-price">S/ 32</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="shop-product-item mb-30">
                                        <div class="shop-product-item-inner">
                                            <div class="shop-product-img w-100">
                                                <a href="shop-details.html"><img src="assets/img/pr5.jpg" alt=""></a>
                                                <div class="shop-product-action">
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-shopping-cart"></i></a>
                                                    <a href="#"><i class="icofont-eye"></i></a>
                                                </div>
                                            </div>
                                            <div class="shop-product-content">
                                                <h4 class="shop-product-title"><a href="shop-details.html">Mostrito Brasa</a></h4>
                                                <div class="shop-product-rating">
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                </div>
                                                <div class="shop-product-price">
                                                    <span class="shop-price">S/ 25.90</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="shop-product-item mb-30">
                                        <div class="shop-product-item-inner">
                                            <div class="shop-product-img w-100">
                                                <a href="shop-details.html"><img src="assets/img/pr6.jpg" alt=""></a>
                                                <div class="shop-product-action">
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-shopping-cart"></i></a>
                                                    <a href="#"><i class="icofont-eye"></i></a>
                                                </div>
                                            </div>
                                            <div class="shop-product-content">
                                                <h4 class="shop-product-title"><a href="shop-details.html">Tallarín saltado de carne</a></h4>
                                                <div class="shop-product-rating">
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                </div>
                                                <div class="shop-product-price">
                                                    <span class="shop-price">S/ 22</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="shop-product-item mb-30">
                                        <div class="shop-product-item-inner">
                                            <div class="shop-product-img w-100">
                                                <a href="shop-details.html"><img src="assets/img/pr7.jpg" alt=""></a>
                                                <div class="shop-product-action">
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-shopping-cart"></i></a>
                                                    <a href="#"><i class="icofont-eye"></i></a>
                                                </div>
                                            </div>
                                            <div class="shop-product-content">
                                                <h4 class="shop-product-title"><a href="shop-details.html">Pollo Broaster</a></h4>
                                                <div class="shop-product-rating">
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                </div>
                                                <div class="shop-product-price">
                                                    <span class="shop-price">S/ 65</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="shop-product-item mb-30">
                                        <div class="shop-product-item-inner">
                                            <div class="shop-product-img w-100">
                                                <a href="shop-details.html"><img src="assets/img/pr8.jpg" alt=""></a>
                                                <div class="shop-product-action">
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-shopping-cart"></i></a>
                                                    <a href="#"><i class="icofont-eye"></i></a>
                                                </div>
                                            </div>
                                            <div class="shop-product-content">
                                                <h4 class="shop-product-title"><a href="shop-details.html">Piqueo Pollito</a></h4>
                                                <div class="shop-product-rating">
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                    <i class="icofont-ui-rating"></i>
                                                </div>
                                                <div class="shop-product-price">
                                                    <span class="shop-price">S/ 10</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div> 
                            <div class="basic-pagination mb-50 mt-20">
                                <nav>
                                   <ul>
                                      <li>
                                         <a href="shop.html">
                                            <i class="icofont-rounded-left"></i>
                                         </a>
                                      </li>
                                      <li>
                                         <a href="shop.html">1</a>
                                      </li>
                                      <li>
                                         <span class="current">2</span>
                                      </li>
                                      <li>
                                         <a href="shop.html">3</a>
                                      </li>
                                      <li>
                                         <a href="shop.html">
                                            <i class="icofont-rounded-right"></i>
                                         </a>
                                      </li>
                                   </ul>
                                 </nav>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar-default pl-25">
                        <form class="hero-form mb-50" action="#">
                            <div class="input-group">
                                <input type="text" class="form-control subscribtion-input" placeholder="Enter Your Email">
                                <button type="submit" class="custom-btn"><span
                                        class="icofont-search-1"></span></button>
                            </div>
                        </form>
                        <div class="sidebar-single sidebar-product-category mb-50">
                            <h4 class="sidebar-title mb-25">Categorías</h4>
                            <ul class="sidebar-categories">
                                <li><a href="#">Pollos</a></li>
                                <li><a href="#">Chifa</a></li>
                                <li><a href="#">Bebidas</a></li>
                                <li><a href="#">Piqueos</a></li>
                                <li><a href="#">Postres</a></li>
                                <li><a href="#">Carnes</a></li>
                                <!-- <li><a href="#">Fast Delivery</a></li> -->
                            </ul>
                        </div>
                        <!-- <div class="sidebar-single sidebar-product-post mb-50">
                            <h4 class="sidebar-title mb-25">Popular Products</h4>
                            <div class="sidebar-post-single">
                                <div class="sidebar-post-img">
                                    <a href="singel-post.html"><img src="assets/img/blog/7.png" alt="img"></a>
                                </div>
                                <div class="sidebar-post-content">
                                    <h5 class="sidebar-post-title"><a href="singel-post.html">Original Unhygenic Foods</a></h5>
                                    <span class="sidebar-product-price">$120.00</span>
                                </div>
                            </div>
                            <div class="sidebar-post-single">
                                <div class="sidebar-post-img">
                                    <a href="singel-post.html"><img src="assets/img/blog/8.png" alt="img"></a>
                                </div>
                                <div class="sidebar-post-content">
                                    <h5 class="sidebar-post-title"><a href="singel-post.html">Original Taste Reviews</a></h5>
                                    <span class="sidebar-product-price">$420.00</span>
                                </div>
                            </div>
                            <div class="sidebar-post-single">
                                <div class="sidebar-post-img">
                                    <a href="singel-post.html"><img src="assets/img/blog/9.png" alt="img"></a>
                                </div>
                                <div class="sidebar-post-content">
                                    <h5 class="sidebar-post-title"><a href="singel-post.html">Organic Food From Fields</a></h5>
                                    <span class="sidebar-product-price">$110.00</span>
                                </div>
                            </div>
                        </div> -->
                        <div class="sidebar-single mb-50">
                            <h4 class="sidebar-title mb-25">Filtro de Precios</h4>
                            <div class="price-filter-wrap">
                                <div class="input-wrap">
                                    <div class="input-group">
                                        <span class="input-txt">S/</span>
                                        <input type="number" id="maxNumber">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-txt">S/</span>
                                        <input type="number" id="minNumber">
                                    </div>
                                </div>
                                <div id="priceFilter" class="price-filter"></div>
                                <button id="filterPrice" class="def-btn">Filtrar Ahora</button>
                            </div>
                        </div>
                        <div class="sidebar-single mb-50">
                            <h4 class="sidebar-title mb-25">Tags</h4>
                            <div class="sidebar-tags">
                                <a href="#">Pollos</a>
                                <a href="#">Chifa</a>
                                <a href="#">Bebidas</a>
                                <a href="#">Piqueos</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>