 <!-- dr-sidebar-information-area-start -->
 <div class="dr-sidebar-info side-info header-side-info-3">
    <div class="dr-sidebar-logo-wrapper mb-25">
        <div class="row align-items-center">
            <div class="col-xl-6 col-8">
                <div class="dr-sidebar-logo">
                    <a href="index.html"><img src="assets/img/logo/norkys.png" alt="logo-img"></a>
                </div>
            </div>
            <div class="col-xl-6 col-4">
                <div class="dr-sidebar-close-wrapper text-end">
                    <button class="dr-sidebar-close side-info-close"><i class="icofont-close-line"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="dr-sidebar-menu-wrapper fix">
        <div class="cf-header-menu"></div>
    </div>

    <div class="dr-sidebar-btn-wrap mt-40">
        <a href="#"><span class="icofont-shopping-cart"><span class="cart-count">4</span></span></a>
        <a href="#"><i class="icofont-ui-user"></i></a>
    </div>

    <div class="dr-sidebar-contact-wrapper mt-40">
        <div class="dr-sidebar-contact mb-40">
            <h4 class="dr-sidebar-contact-title">Contacto</h4>
            <span class="sidebar-address"><i class="icofont-google-map"></i><span>Lima y otras Provincias, Perú</span> </span>
            <a href="tel:+1(251)410-1010"><i class="icofont-phone"></i><span>+1 (251) 410-1010</span></a>
            <a href="mailto:example@gmail.com" class="theme-3"><i class="icofont-envelope-open"></i><span><span>norkysgmail.com</span></span></a>   
        </div>

        <div class="dr-sidebar-social mt-40 mb-30">
            <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" class="youtube"><i class="fab fa-dribbble"></i></a>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>
<!-- dr-sidebar-information-area-end -->
<!-- =======================body wrapper========= -->
<div class="body-wrapper">
    <!-- ==============================================
            Banner
    =============================================== -->
    <section>
        <!-- banner  -->
        <div class="banner banner-3 hero-area4 height-955 pt-270 pb-270" data-background="assets/img/polloslider.jpg">
            <!-- container  -->
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-xl-7 col-lg-7 text-center">
                        <span class="hero-sub-title">Sabor peruano que nos une</span>
                        <h2 class="hero4-title">Disfruta de un dorado Pollo a la Brasa</h2>
                        <div class="hero4-search text-center mb-15">
                            <a href="#" class="offer-btn mt-26">Reserva Ahora</a>
                            <a href="#" class="offer-btn mt-25">Pedir Ahora</a>
                        </div>
                        <!-- <span class="hero-trending-wrap">
                            <strong>Trending:</strong>
                            <span class="hero-trending-text">Sushi Burgher Chinese Pizza</span>
                        </span> -->
                    </div>
                </div>
            </div>
            
            <!-- container  -->
        </div>
        <!-- banner end  -->
    </section>
    <!-- ==============================================
            Banner end
    =============================================== -->
    <!-- banner end -->
    <!-- =====social======== -->
    <!-- <div class="social-sec social-sec-3">
        <div class="right-social">
            <ul class="right-social-ul">
                <li><a href="" class="share-link white-clr">Facebook</a></li>

                <li><a href="" class="share-link white-clr">Twitter</a></li>

                <li><a href="" class="share-link white-clr">Instagram</a></li>
            </ul>
        </div>
    </div> -->
    <!-- ===========social========= -->


    <!-- order feature start -->
    <div class="order-feature-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cb-section-title text-center mb-45">
                        <p class="cb-section-icon mb-0"><span class="cb-section-icon-inner"><i class="icofont-beans"></i></span></p>
                        <span class="cb-section-subtitle">Norky's</span>
                        <h2 class="cb-section-title">LA MEJOR UNIÓN</h2>
                        <p>¿Qué mejor que unir todo para disfrutar de un dorado pollo a la brasa?</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="order-feature-single text-center mb-30">
                        <span class="contact-offer">
                            <img src="assets/img/papas.jpg" alt="icon">
                        </span>
                        <h4 class="order-feature-title">Las más crocantes papas</h4>
                        <p> Las papas fritas crocantes son finos trozos de papa fritas hasta quedar crujientes por fuera y suaves por dentro, conocidas por su sabor delicioso y textura crujiente. </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="order-feature-single text-center mb-30">
                        <span class="contact-offer">
                            <img src="assets/img/ensalada.jpg" alt="icon">
                        </span>
                        <h4 class="order-feature-title">Una fresca ensalada</h4>
                        <p>La ensalada es una mezcla fresca de vegetales, hojas verdes y otros ingredientes, servida fría como plato principal o acompañamiento, conocida por su frescura y nutrientes. </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="order-feature-single text-center mb-30">
                        <span class="contact-offer">
                            <img src="assets/img/cremas.jpg" alt="icon">
                        </span>
                        <h4 class="order-feature-title">Cremas con sabor intenso</h4>
                        <p>Ketchup, mayonesa y ají son salsas versátiles que realzan sabores. El ketchup es agridulce, la mayonesa es cremosa y el ají aporta un toque picante a las comidas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- order feature end -->


    <!-- food category start -->
    <!-- <div class="cb-category-area bg-light-blue pt-80 pb-80">
        <div class="cb-category-wrapper">
            <div class="cb-category-inner">
                <div class="container-fluid g-0">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-3 col-md-4">
                            <div class="cb-category-inner-text mb-40 mb-md-0 pl-50">
                                <div class="cb-section-title">
                                    <p class="cb-section-icon mb-0"><span class="cb-section-icon-inner"><i class="icofont-beans"></i></span></p>
                                    <span class="cb-section-subtitle">Categories</span>
                                    <h2 class="cb-section-title">Popular Categories</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-9 col-md-8">
                            <div class="cb-category-inner-slider-wrapper pl-58">
                                <div class="swiper-container swiper cb-category-active">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="cb-category-card">
                                                <img src="assets/img/category/cat1.jpg" alt="category img">
                                                <div class="cb-category-card-text">
                                                    <h4 class="cb-category-cart-name">Janpaneese</h4>
                                                    <span class="cb-category-cart-price">Avg. $55</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="cb-category-card">
                                                <img src="assets/img/category/cat1.jpg" alt="category img">
                                                <div class="cb-category-card-text">
                                                    <h4 class="cb-category-cart-name">Janpaneese</h4>
                                                    <span class="cb-category-cart-price">Avg. $55</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="cb-category-card">
                                                <img src="assets/img/category/cat1.jpg" alt="category img">
                                                <div class="cb-category-card-text">
                                                    <h4 class="cb-category-cart-name">Janpaneese</h4>
                                                    <span class="cb-category-cart-price">Avg. $55</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="cb-category-card">
                                                <img src="assets/img/category/cat1.jpg" alt="category img">
                                                <div class="cb-category-card-text">
                                                    <h4 class="cb-category-cart-name">Janpaneese</h4>
                                                    <span class="cb-category-cart-price">Avg. $55</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="cb-category-card">
                                                <img src="assets/img/category/cat1.jpg" alt="category img">
                                                <div class="cb-category-card-text">
                                                    <h4 class="cb-category-cart-name">Janpaneese</h4>
                                                    <span class="cb-category-cart-price">Avg. $55</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="cb-category-card">
                                                <img src="assets/img/category/cat1.jpg" alt="category img">
                                                <div class="cb-category-card-text">
                                                    <h4 class="cb-category-cart-name">Janpaneese</h4>
                                                    <span class="cb-category-cart-price">Avg. $55</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="cb-category-card">
                                                <img src="assets/img/category/cat1.jpg" alt="category img">
                                                <div class="cb-category-card-text">
                                                    <h4 class="cb-category-cart-name">Janpaneese</h4>
                                                    <span class="cb-category-cart-price">Avg. $55</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="cb-category-card">
                                                <img src="assets/img/category/cat1.jpg" alt="category img">
                                                <div class="cb-category-card-text">
                                                    <h4 class="cb-category-cart-name">Janpaneese</h4>
                                                    <span class="cb-category-cart-price">Avg. $55</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="cb-category-card">
                                                <img src="assets/img/category/cat1.jpg" alt="category img">
                                                <div class="cb-category-card-text">
                                                    <h4 class="cb-category-cart-name">Janpaneese</h4>
                                                    <span class="cb-category-cart-price">Avg. $55</span>
                                                </div>
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- food category end -->

    <!-- top-rated-restaurant start-->
    <div class="cb-top-rated-restaurant pt-100 pb-65">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cb-section-title text-center mb-45">
                        <p class="cb-section-icon mb-0"><span class="cb-section-icon-inner"><i class="icofont-beans"></i></span></p>
                        <span class="cb-section-subtitle">Norky's</span>
                        <h2 class="cb-section-title">NUESTRAS SEDES</h2>
                        <p>Te invitamos a nuestras sedes de Lima</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="cb-top-restaurant-single mb-40">
                        <div class="cb-top-restaurant-img">
                            <a href="#"><img src="assets/img/sede1.jpg" alt="img"></a>
                            <div class="cb-top-restaurant-img-text">
                                <h4 class="cb-top-restaurant-title"><a href="#">Vitarte 2</a></h4>
                                <div class="cb-top-restaurant-categories-meta">
                                    <a href="#">Pollos</a>
                                    <a href="#">Piqueos</a>
                                    <a href="#">Carta</a>
                                </div>
                            </div>
                        </div>
                        <div class="cb-top-restaurant-location-time border-topp">
                            <span class="cb-top-restaurant-location-icon"><img src="assets/img/icon/logopollo.jpeg" alt="icon"></span>
                            <div class="cb-top-location-time">
                                <span class="cb-top-restaurant-meta"><i class="icofont-clock-time"></i> 12:02 am - 11:59 pm</span>
                                <span class="cb-top-restaurant-meta"><i class="icofont-map-pins"></i> Av. Nicolas Ayllon Mza.N Lote.18 Urb. Portales de Javier Prado</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="cb-top-restaurant-single mb-40">
                        <div class="cb-top-restaurant-img">
                            <a href="#"><img src="assets/img/sede3.jpg" alt="img"></a>
                            <div class="cb-top-restaurant-img-text">
                                <h4 class="cb-top-restaurant-title"><a href="#">Santa Clara</a></h4>
                                <div class="cb-top-restaurant-categories-meta">
                                    <a href="#">Pollos</a>
                                    <a href="#">Piqueos</a>
                                    <a href="#">Carta</a>
                                </div>
                            </div>
                        </div>
                        <div class="cb-top-restaurant-location-time border-topp">
                            <span class="cb-top-restaurant-location-icon"><img src="assets/img/icon/logopollo.jpeg" alt="icon"></span>
                            <div class="cb-top-location-time">
                                <span class="cb-top-restaurant-meta"><i class="icofont-clock-time"></i> 12:02 am - 11:59 pm</span>
                                <span class="cb-top-restaurant-meta"><i class="icofont-map-pins"></i> Av. San Martin de Porres Nro. 405 Urb.Santa Clara – Ate – Lima</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="cb-top-restaurant-single mb-40">
                        <div class="cb-top-restaurant-img">
                            <a href="#"><img src="assets/img/sede6.jpg" alt="img"></a>
                            <div class="cb-top-restaurant-img-text">
                                <h4 class="cb-top-restaurant-title"><a href="#">Salamanca</a></h4>
                                <div class="cb-top-restaurant-categories-meta">
                                    <a href="#">Pollos</a>
                                    <a href="#">Piqueos</a>
                                    <a href="#">Carta</a>
                                </div>
                            </div>
                        </div>
                        <div class="cb-top-restaurant-location-time border-topp">
                            <span class="cb-top-restaurant-location-icon"><img src="assets/img/icon/logopollo.jpeg" alt="icon"></span>
                            <div class="cb-top-location-time">
                                <span class="cb-top-restaurant-meta"><i class="icofont-clock-time"></i> 12:02 am - 11:59 pm</span>
                                <span class="cb-top-restaurant-meta"><i class="icofont-map-pins"></i> Av. Paracas Nro.236 Urb.Los Recaudadores – Ate – Lima</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="cb-top-restaurant-single mb-40">
                        <div class="cb-top-restaurant-img">
                            <a href="#"><img src="assets/img/sede2.jpg" alt="img"></a>
                            <div class="cb-top-restaurant-img-text">
                                <h4 class="cb-top-restaurant-title"><a href="#">Puruchuco</a></h4>
                                <div class="cb-top-restaurant-categories-meta">
                                    <a href="#">Pollos</a>
                                    <a href="#">Piqueos</a>
                                    <a href="#">Carta</a>
                                </div>
                            </div>
                        </div>
                        <div class="cb-top-restaurant-location-time border-topp">
                            <span class="cb-top-restaurant-location-icon"><img src="assets/img/icon/logopollo.jpeg" alt="icon"></span>
                            <div class="cb-top-location-time">
                                <span class="cb-top-restaurant-meta"><i class="icofont-clock-time"></i> 12:02 am - 11:59 pm</span>
                                <span class="cb-top-restaurant-meta"><i class="icofont-map-pins"></i> v. 15 de Julio Lote. 35 P.J. Proyecto Especial Huaycan Alt. Zona B</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="cb-top-restaurant-single mb-40">
                        <div class="cb-top-restaurant-img">
                            <a href="#"><img src="assets/img/sede4.jpg" alt="img"></a>
                            <div class="cb-top-restaurant-img-text">
                                <h4 class="cb-top-restaurant-title"><a href="#">Huaycán</a></h4>
                                <div class="cb-top-restaurant-categories-meta">
                                    <a href="#">Pollos</a>
                                    <a href="#">Piqueos</a>
                                    <a href="#">Carta</a>
                                </div>
                            </div>
                        </div>
                        <div class="cb-top-restaurant-location-time border-topp">
                            <span class="cb-top-restaurant-location-icon"><img src="assets/img/icon/logopollo.jpeg" alt="icon"></span>
                            <div class="cb-top-location-time">
                                <span class="cb-top-restaurant-meta"><i class="icofont-clock-time"></i> 12:02 am - 11:59 pm</span>
                                <span class="cb-top-restaurant-meta"><i class="icofont-map-pins"></i> Av. Nicolás Ayllón  4770  Int R203  C. C. Real Plaza Puruchuco – Ate – Lima</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="cb-top-restaurant-single mb-40">
                        <div class="cb-top-restaurant-img">
                            <a href="#"><a href="#"><img src="assets/img/sede5.jpg" alt="img"></a></a>
                            <div class="cb-top-restaurant-img-text">
                                <h4 class="cb-top-restaurant-title"><a href="#">Ate</a></h4>
                                <div class="cb-top-restaurant-categories-meta">
                                    <a href="#">Pollos</a>
                                    <a href="#">Piqueos</a>
                                    <a href="#">Carta</a>
                                </div>
                            </div>
                        </div>
                        <div class="cb-top-restaurant-location-time border-topp">
                            <span class="cb-top-restaurant-location-icon"><img src="assets/img/icon/logopollo.jpeg" alt="icon"></span>
                            <div class="cb-top-location-time">
                                <span class="cb-top-restaurant-meta"><i class="icofont-clock-time"></i> 12:02 am - 11:59 pm</span>
                                <span class="cb-top-restaurant-meta"><i class="icofont-map-pins"></i> Av. Nicolas Ayllon Nro. 8694 Int. PC04 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- top-rated-restaurant end -->

    <!-- offer-cta start-->
    <div class="cb-offer-cta pt-100 pb-105 text-center text-md-start" data-background="assets/img/promo.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xxl-7 col-xl-6 col-lg-7 col-md-8 order-1 order-md-0">
                    <div class="cb-offer-cta-content">
                        <span class="cb-offer-cta-content-subtitle">Norky's</span>
                        <h4 class="cb-offer-cta-content-title">Aprovecha de nuestras nuevas ofertas</h4>
                        <a href="#" class="offer-btn mt-25">Pedir Ahora</a>
                    </div>
                </div>
                <!-- <div class="col-xxl-5 col-xl-6 col-lg-5 col-md-4">
                    <div class="cb-offer-image mb-40 mb-md-0">
                        <img src="assets/img/icon/offer.png" alt="img">
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- offer-cta end-->

    <!-- cb-team-area-start -->
    <div class="cb-team-area pt-100 pb-65">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cb-section-title text-center mb-45">
                        <p class="cb-section-icon mb-0"><span class="cb-section-icon-inner"><i class="icofont-beans"></i></span></p>
                        <span class="cb-section-subtitle">Norky's</span>
                        <h2 class="cb-section-title">PLATOS NUEVOS</h2>
                        <p>Degusta de nuestro nuevos platos añadidos a la carta</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="cb-team-single text-center mb-40">
                        <div class="cb-team-single-img">
                            <a href="team-view.html"><img src="assets/img/alitas.jpg" alt="img"></a>
                        </div>
                        <div class="cb-team-single-content">
                            <h4 class="cb-team-single-name"><a href="#">Alitas BBQ</a></h4>
                            <span class="cb-team-single-designation">Jugosas alitas con nueva salsa</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="cb-team-single text-center mb-40">
                        <div class="cb-team-single-img">
                            <a href="team-view.html"><img src="assets/img/carne.jpg" alt="img"></a>
                        </div>
                        <div class="cb-team-single-content">
                            <h4 class="cb-team-single-name"><a href="#">Carne Parrillera</a></h4>
                            <span class="cb-team-single-designation">Carne hecha en parrilla con carbón puro</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="cb-team-single text-center mb-40">
                        <div class="cb-team-single-img">
                            <a href="team-view.html"><img src="assets/img/anticucho.jpg" alt="img"></a>
                        </div>
                        <div class="cb-team-single-content">
                            <h4 class="cb-team-single-name"><a href="#">Brochetas</a></h4>
                            <span class="cb-team-single-designation">Brochetas para el antojo</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- cb-team-area-end -->

    <!-- service area start -->
    <!-- <section>
        <div class="service-area pt-105 pb-105 bg-light d-none">
            <div class="container">
                <div class="row g-0">
                    <div class="col-xl-4">
                        <div class="service-section">
                            <div class="section-area">
                                <span class="section-subtitle">Categories</span>
                                <h2 class="section-title mb-0">What Can We Offer Categories</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 service-border">
                        <div class="service-item">
                            <div class="service-img bg-default" data-background="assets/img/category/1.jpg"></div>
                            <div class="service-icon"><i class="icofont-burger"></i></div>
                            <div class="service-content">
                                <h3 class="service-content-title"><a href="service-details.html">Cheese Burger</a></h3>
                                <p>Restaurant vulputate massa ons amet ravida haretra nuam the drana miss uctus enec accumsan aliquam sit sapien.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 service-border">
                        <div class="service-item">
                            <div class="service-img bg-default" data-background="assets/img/service/2.jpg"></div>
                            <div class="service-icon">
                                <i class="fal fa-chart-network"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="service-content-title"><a href="service-details.html">Wireless networking</a></h3>
                                <p>Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling marriage</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 service-border">
                        <div class="service-item">
                            <div class="service-img bg-default" data-background="assets/img/service/3.jpg"></div>
                            <div class="service-icon">
                                <i class="fal fa-fingerprint"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="service-content-title"><a href="service-details.html">Finger Print Access</a></h3>
                                <p>Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling marriage</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 service-border">
                        <div class="service-item">
                            <div class="service-img bg-default" data-background="assets/img/service/4.jpg"></div>
                            <div class="service-icon">
                                <i class="fal fa-camera-alt"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="service-content-title"><a href="service-details.html">Closed Cameras</a></h3>
                                <p>Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling marriage</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 service-border">
                        <div class="service-item">
                            <div class="service-img bg-default" data-background="assets/img/service/5.jpg"></div>
                            <div class="service-icon">
                                <i class="fal fa-shield-alt"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="service-content-title"><a href="service-details.html">Security Cameras</a></h3>
                                <p>Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling marriage</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*/-->
    <!-- service area end -->
    
    <!-- ============================================
                    contact section
    ================================================= -->
    <!-- <section> -->
        <!-- delivery  -->
        <!-- <div class="delivery-area delivery-area-3"> -->
            <!-- vide area  -->
            <!-- <div class="video-area" data-background="assets/img/image/video_bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="watch justify-content-center">
                            <a href="" class="video-btn play-video"><span class="icofont-ui-play"></span></a>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- video area end  -->
            <!-- delivery area  -->
            <!-- <div class="delivery-area delivery-area-3" data-aos="fade-up" data-aos-duration="1000"> -->
                <!-- container  -->
                <!-- <div class="container"> -->
                    <!-- delivery  -->
                    <!-- <div class="delivery" data-background="assets/img/delevery-bg.png"> -->
                        <!-- row  -->
                        <!-- <div class="row">
                            <div class="col-md-7">
                                <div class="delivery-content">
                                    <h2 class="delivery-title mb-0">Join As a Delivery Man</h2>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiu tempor <br> incididunt ut labore et dolore magna aliqua. Quis ipsum suspendis ultries <br> gravida. Risus commodo viverra maecenas accumsan
                                    </p>
                                    <a href="" class="custom-btn-light">Apply Now</a>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="delivery-img">
                                    <img src="assets/img/image/delivery_man.png" alt="">
                                </div>
                            </div>
                        </div> -->
                        <!-- row end  -->
                    </div>
                    <!-- delivery end  -->
                
                <!-- container end  -->
           
            <!-- delivery area end  -->
        
        <!-- delivery end  -->
    

    <!-- ============================================
                    contact section end
    ================================================= -->

    <!-- ==================Customers========== -->
    <!-- <section> -->
        <!-- customer  -->
        <!-- <div class="customer customer-2 theme-3 cpy-6"> -->
            <!-- container  -->
            <!-- <div class="container">
                <div class="row justify-content-center"> -->
                    <!-- col-md-8  -->
                    <!-- <div class="col-md-8">
                        <div class="swiper customer-review-second">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide review-item">
                                    <div class="customer-details">
                                        <div class="customer-img">
                                            <img src="assets/img/customer/2.png" alt="image not found">
                                        </div>
                                        <h4 class="customer-name">Reson Roy</h4>
                                        <p class="customer-title">Manager</p>
                                        <ul class="rating">
                                            <li> <span class="icofont-ui-rating"></span></li>
                                            <li> <span class="icofont-ui-rating"></span></li>
                                            <li> <span class="icofont-ui-rating"></span></li>
                                            <li> <span class="icofont-ui-rating"></span></li>
                                            <li> <span class="icofont-ui-rating"></span></li>
                                        </ul>
                                        <p class="message">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis Risus commodo viverra maec
                                        </p>
                                    </div>
                                </div>

                                <div class="swiper-slide review-item">
                                    <div class="customer-details">
                                        <div class="customer-img">
                                            <img src="assets/img/customer/3.jpg" alt="image not found">
                                        </div>
                                        <h4 class="customer-name">Richard N. Burger</h4>
                                        <p class="customer-title">CEO</p>
                                        <ul class="rating">
                                            <li> <span class="icofont-ui-rating"></span></li>
                                            <li> <span class="icofont-ui-rating"></span></li>
                                            <li> <span class="icofont-ui-rating"></span></li>
                                            <li> <span class="icofont-ui-rating"></span></li>
                                            <li> <span class="icofont-ui-rating"></span></li>
                                        </ul>
                                        <p class="message">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis Risus commodo viverra maec
                                        </p>
                                    </div>
                                </div>

                                <div class="swiper-slide review-item">
                                    <div class="customer-details">
                                        <div class="customer-img">
                                            <img src="assets/img/customer/4.jpg" alt="image not found">
                                        </div>
                                        <h4 class="customer-name">Tommy M. Clayton</h4>
                                        <p class="customer-title">Manager</p>
                                        <ul class="rating">
                                            <li> <span class="icofont-ui-rating"></span></li>
                                            <li> <span class="icofont-ui-rating"></span></li>
                                            <li> <span class="icofont-ui-rating"></span></li>
                                            <li> <span class="icofont-ui-rating"></span></li>
                                            <li> <span class="icofont-ui-rating"></span></li>
                                        </ul>
                                        <p class="message">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis Risus commodo viverra maec
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-pagination"></div>

                    </div> -->
                    <!-- col-md-8 end  -->
               
                <!-- row end -->
            
            <!-- container end  -->
        
        <!-- customer end  -->
   
    <!-- ==================Customers end========== -->
    <!-- ==================Latest Blog Post================= -->
    <!-- <section> -->
        <!-- latest blog  -->
        <!-- <div class="latest-blog latest-blog-3 home4-blog pt-100 pb-65"> -->
            <!-- container  -->
            <!-- <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cb-section-title text-center mb-45">
                            <p class="cb-section-icon mb-0"><span class="cb-section-icon-inner"><i class="icofont-beans"></i></span></p>
                            <span class="cb-section-subtitle">News & Blog</span>
                            <h2 class="cb-section-title">Latest News & Blog</h2>
                            <p>Dorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua. Quis ipsum susp</p>
                        </div>
                    </div>
                </div> -->
                <!-- row  -->
                <!-- <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 mb-40" data-aos="fade-up" data-aos-duration="1000">
                        <div class="post-card">
                            <div class="post-img">
                                <a href="singel-post.html"><img src="assets/img/blog/1.png" alt="Image not found"></a>
                            </div>
                            <div class="post-details">
                                <a href="singel-post.html" class="post-title">New Restaurant Town Our Ple Award
                                    Contract</a>
                                <p class="post-des">Drive your business and manage ris with a global industry leader.</p>

                                <div class="date-view">
                                    <p class="date mb-0">Jan 1, 2022 - Comments</p>
                                    <a href="singel-post.html" class="view-more">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-40" data-aos="fade-up" data-aos-duration="1500">
                        <div class="post-card">
                            <div class="post-img">
                                <a href="singel-post.html"><img src="assets/img/blog/2.png" alt="Image not found"></a>
                            </div>
                            <div class="post-details">
                                <a href="singel-post.html" class="post-title">Greek yogurt breakfast bowls Ple
                                    Award Contract</a>
                                <p class="post-des">Drive your business and manage ris with a global industry leader.</p>

                                <div class="date-view">
                                    <p class="date mb-0">Jan 1, 2022 - Comments</p>
                                    <a href="singel-post.html" class="view-more">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-40" data-aos="fade-up" data-aos-duration="2000">
                        <div class="post-card">
                            <div class="post-img">
                                <a href="singel-post.html"><img src="assets/img/blog/3.png" alt="Image not found"></a>
                            </div>
                            <div class="post-details">
                                <a href="singel-post.html" class="post-title">Make Authentic Italian Marg Herita
                                    Pizza at Home</a>
                                <p class="post-des">Drive your business and manage ris with a global industry leader.</p>

                                <div class="date-view">
                                    <p class="date mb-0">Jan 1, 2022 - Comments</p>
                                    <a href="singel-post.html" class="view-more">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> -->
                <!-- row end  -->
            
            <!-- container end  -->
        
        <!-- latest blog end  -->
    <!-- ==================Latest Blog Post end================= -->